<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="csrf-token" content="<%= csrfToken %>" />
      <title>Login / Register | Archer Impossible | World's Hardest Game | Minecraft Edition</title>
      <link rel="stylesheet" href="../css/design.css" />
   </head>

   <body style="background-image: url(../images/login_bkg.jpg)">
      <audio autoplay loop src="../audio/epic adventure music.mp3"></audio>

      <header><%- include('navbar'); %></header>

      <!--Login and Registry form for user that will send info inputted and be checked with data storage and javascript-->
      <div class="login-register">
         <!-- <div class="login">
            <form>
               <h1><u>Login</u></h1>
               <label for="log_username">Username</label>
               <input type="text" id="log_username" name="log_user" placeholder="Username" />
               <label for="log_password">Password</label>
               <input type="password" id="log_password" name="log_pass" placeholder="*******" />
               <button onclick="loginFunc()" id="log_button" class="login" type="submit">Login</button>
            </form>
         </div> -->

         <div class="register">
            <form method="post" action="/register">
               <h1><u>Register</u></h1>
               <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
               <label for="reg_email">Email address</label>
               <input type="email" id="reg_email" name="email" placeholder="example@gmail.com" />
               <label for="reg_username">Username</label>
               <input type="text" id="reg_username" name="user" placeholder="Username" />
               <label for="reg_password">Password</label>
               <input type="password" id="reg_password" name="pass" placeholder="********" />
               <label for="reg_age">Age</label>
               <input type="number" id="reg_age" name="age" min="1" max="100" placeholder="1-100" />

               <button class="register-btn" type="submit">Register</button>

               <div class="out_result">
                  <% if (hasMessages) { %>
                  <section class="messages">
                     <% messages.forEach(function(message) { %>
                     <p><%= message %></p>
                     <% }); %>
                  </section>
                  <% } %>
               </div>
            </form>
         </div>
      </div>

      <script src="../js/main.js"></script>
   </body>
</html>
